<p><b>To create json-server</b></p>
<p>   npm i -g json-server@0.16.13     --------- if nodeJs 18.13.0 installed</p>
<p>   json-server --watch ./src/app/data.json</p>
<p>we get --- >>>   http://localhost:3000 </p>
<hr>
<div class="container">
<div style="background-color: aquamarine; color: black; font-size: larger; font-family: 'Times New Roman', Times, serif;">
  <p><b> Create --------------- post</b></p><Br>
    <p><b> Read ----------------- get</b></p><br>
    <p><b>Update----------------- put</b></p><br>
    <p><b>Delete------------------delete</b></p><br>
</div>
</div>

<div class="container">
  <label> <b>todo</b></label>
  <br>
  <div>
    <button class="btn btn-success" (click)="createTodo()">post click</button>
    <!-- it can also create and read by using post and get -->
  </div>

  <div class=" mt-2">
    <button class="btn btn-success" (click)="readTodo()">get click </button>
    <!-- only read by using get  -->
  </div>
</div>

<hr>
<div class="container">
  <table class="table">
    <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Action</th>
    </thead>

  <tbody>
    <tr *ngFor=" let todo of showTodoList">
    <td>{{todo.id}}</td>
    <td>{{todo.title}}</td>
    <!-- Action -->
    <td>
      <button type="button" class="btn btn-link" (click)="updateTodo(todo)">Edit</button>
      <button type="button" class="btn btn-link text-danger" (click)="deleteTodo(todo.id)">Delete</button>
      <!-- delete base on ID so ------ >>>>>> (todo.ID)  -->
    </td>
  </tr>
    </tbody>
  </table>

</div>

